/* .services-container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
    color:aliceblue;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
.box {
    display: grid;
    font-size: 20px;
    place-items: center;
    opacity: 0.95;
} */
.sherbimet {
    font-size: x-large;
    padding: 20px;
}
.services-content  {
margin: 1px 300px 1px 300px;
font-family: 'Montserrat', sans-serif;
}
.services-content h1 {
    text-align: center;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
.sherbimet p{
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.sherbimet ul {
    padding: 20px 40%;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.sherbimet li {
    padding: 20px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}
.imagess {
    padding: 20px 40%;
}
.SherbimetTona {
    padding: 0px;
}
.title {
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 900px){
    .sherbimet {
        font-size: x-large;
        padding: 0px;
    }
    .services-content  {
    margin: 1px 1px 1px 1px;
    font-family: 'Montserrat', sans-serif;
    }
    .services-content h1 {
        text-align: center;
        color: aliceblue;
        font-family: 'Montserrat', sans-serif;
    }
    .sherbimet p{
        color: black;
        font-family: 'Montserrat', sans-serif;
    }
    .sherbimet ul {
        padding: 1px 0%;
        margin: 10x;
        font-family: 'Montserrat', sans-serif;
        color: black;
    }
    .sherbimet li {
        padding: 1px;
        margin: 1px;
        font-family: 'Montserrat', sans-serif;
    }
    .imagess {
        padding: 0px 0%;
    }
    .SherbimetTona {
        padding: 0px;
    }
    .title {
        font-family: 'Montserrat', sans-serif;
    }
}
