.hero-container {
  height: 770px;
  width: 100%;
  display: flex;
  flex-direction: row;
  object-fit: contain;
  background: #4098a9;
  border-radius: 1px 1px 1px 250px;
  margin-bottom: 100px;
  padding: 100px;
}

.hero--con {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.hero-content {

  padding-top: 5%;
  margin: 60px;
  min-width: 800px;
  text-align: start;
}
.info-image{

  height: 881px;
  padding-top: 15%;
  margin: 43%;
  align-self: center;
  width: 800px;
  position: absolute;
}
.hero-content > h1 {
  color: #fff;
  font-size: 80px;
}
.hero-content > h3 {
  color: #fff;
  margin-top: 2%;
  font-family: 'Courier New'; 
}
.hero-content > p {
  margin-top: 15px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.hero-btns {
  margin-top: 32px;
}
.hero-btns .btn {
  margin: 6px;
}
.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container {
    margin-bottom: 100px;
    padding: 50px;
  flex-wrap: wrap;
  }
  .hero-container h1 {
    font-size: 70px;    
  }

}
@media screen and (max-width: 768px) {
  .hero-container {
    margin-bottom: 100px;
    padding: 0px;

  }
  .hero-container h1 {
    font-size: 50px;
    padding: 0px;
    text-align: start;
}
  .hero-container  p {
    font-size: 15px;
}
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
}