.hero-container {
  background: #4098a9;
  border-radius: 1px 1px 1px 250px;
  padding: 0px;
  margin: 0px;

}
.hero-konteiner{
  padding: 10px;
  margin: 0px;
}
.rreshti {
  padding: 0px;
  margin: 0px;
  width: 1000px;
}
.Kolona1 {
  padding-bottom: -100px;
  margin: 0px;
  width: 100%;
}
.Kolona2 {
  padding: 100px 20px 20px 20px;
  margin: 0px;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.w-image {
  size: 50%;
}

.hero-content {
  margin: 100px 0px 60px 115px;
  padding: 2%;
  text-align: start;
  
}

.hero-content > h1 {
  color: #fff;
  font-size: 80px;
  text-align: left;

}
.hero-content > h3 {
  color: #fff;
  margin-top: 2%;
  font-family: 'Courier New'; 
}
.hero-content > p {
  margin-top: 15px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.hero-btns {
  margin-top: 32px;
}
.hero-btns .btn {
  margin: 6px;
  color: aliceblue;
  border: solid 1px;
}
.fa-play-circle {
  margin-left: 4px;
}
