.hero-container {
  height: 770px;
  width: 100%;
  display: flex;
  flex-direction: row;
  object-fit: contain;
  background: #4098a9;
  border-radius: 1px 1px 1px 250px;
  margin-bottom: 100px;
  padding: 100px;
}

.hero--con {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.hero-content {

  padding: 2%;
  margin: 60px;
  min-width: 800px;
  text-align: start;
}
.info-image{

  height: 881px;
  padding-top: 15%;
  margin: 43%;
  align-self: center;
  width: 800px;
  position: absolute;
}
.hero-content > h1 {
  color: #fff;
  font-size: 80px;
}
.hero-content > h3 {
  color: #fff;
  margin-top: 2%;
  font-family: 'Courier New'; 
}
.hero-content > p {
  margin-top: 15px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.hero-btns {
  margin-top: 32px;
}
.hero-btns .btn {
  margin: 6px;
  color: aliceblue;
  border: solid 1px;
}
.fa-play-circle {
  margin-left: 4px;
}
@media screen and (max-width: 1550px) {
  .info-image {
    height: 69%;
    padding-top: 15%;
    margin: 20% 0% 20% 45%;
    align-content: self-end;
    width: 40%;
    position: absolute;
  }
}
@media screen and (max-width: 1430px) {
  .info-image {
    height: 681px;
    padding-top: 15%;
    margin: 21% 0% 20% 48%;
    align-content: self-end;
    width: 600px;
    position: absolute;
  }
}
@media screen and (max-width: 1363px) {
  .info-image {
    height: 640px;
    width: 582px;
    margin: -28% 0% 1% 21%;
    flex-wrap: wrap;
    position: relative;

  }
  .hero-container {
    margin-bottom: 100px;
    padding: 50px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1240px) {
  .info-image {
    height: 640px;
    width: 582px;
    margin: -28% 0% 1% 21%;
  }

}

@media screen and (max-width: 960px) {
  .hero-container {
    margin-bottom: 100px;
    padding: 50px;
    flex-wrap: wrap;
    padding: 0px;
    
  }
  .hero-container h1 {
    font-size: 70px;  
    text-align: start;
  }
  .info-image {
    position: relative;
    margin: -27% -3% 22% 29%;
    height: 500px;
    width: 500px;
  }

}
@media screen and (max-width: 768px) {
  .hero-container {
    margin-bottom: 100px;
    padding: 0px;

  }
  .hero-container h1 {
    font-size: 50px;
    padding: 0px;
}
  .hero-container  p {
    font-size: 15px;
}
  .btn-mobile {
    text-decoration: none;

  }
}