.services-content{
    padding: 50px;
    justify-content: center;
    text-align: center;
    border: 1px black;

}

section {
    height: 500px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.testy{
    background-color: red;
    margin: 10px;
}

.kont {
    position: relative;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #232525;
}
.kont:hover .overlay {
  opacity: 0.8;
}

 
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .foto {
    vertical-align: super;
  }

/* WhyChooseUs CSS */

h1{
  text-align: center;
  color: #0BA5C3;
  font:50px 'Gilroy', sans-serif;
  font-weight: bold;
}

.maindiv{
  text-align: center;
}

.topdiv{
  display: flex;
  justify-content: center;
}

.top1{
  margin-right: 20px;
  display: flex;
}
.top2{
  margin-left: 20px;
  display: flex;
}

.kontentdiv{
  text-align: left;
  margin-left: 10px;
}

.kontenttitle{
  font:18px 'Gilroy', sans-serif;
}