/* .titleofstats {
    text-align: center;
    margin: 10px;
    padding: 100px 10px 10px 10px;
    justify-content: center;
    display: flex;
    
} */
.titulliboksit {
    color: black;
    font-variant: all-small-caps;
}
.box {
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
}

.biznesi {
    color: #3abb74;
    font-weight: bold;
    padding: 0px 9px;
    
}


.biznes {
    color: blueviolet;
}