.titleofstats {
    text-align: center;
    padding: 100px;
    justify-content: center;
    display: flex;
    
}
.titulliboksit {
    color: black;
    font-variant: all-small-caps;
}
.box {
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
}

.biznesi {
    color: #3abb74;
    font-weight: bold;
    padding: 0px 9px;
    
}
.row {
    margin-right: 0px !important; 
    margin-left: 0px !important;
}
#Stats {

    margin-right: 0px !important; 
    margin-left: 0px !important;
}


.biznes h2 {
    color: aqua !important;
}